<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0"
          package="com.willowtreeapps.example.spoon.test">

    <application android:label="Spoon Sample Tests">
        <uses-library android:name="android.test.runner"/>
    </application>

    <instrumentation android:name=".SampleInstrumentationTestRunner"
                     android:targetPackage="com.willowtreeapps.example.spoon.app"
                     android:label="Spoon Sample Tests"/>
</manifest>
